<!DOCTYPE html>
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/stylesheets/font.css" type="text/css"/>
<link href="/stylesheets/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
    <script src="/javascripts/jquery2.0.3.min.js"></script>
</head>

<body id="bgImg" >

<form id="form1" runat="server">
    <div>
    <input type="button" id="btn" onclick="javascript:Test();" value="更换" />
    </div>
    </form>

<div class="eror-w3">
    <a href="/login"><img src="/images/back.png" style="width: 2rem"/></a>
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>404</h2>
		<p>An error Occurred in the Application And Your Page could not be Served.</p>
		<a href="/login">返回登入 </a>
	</div>
</div>
<script>
        function Test() {
            if (document.getElementById("bgImg").style.backgroundImage.indexOf('../images/bg.jpg') > 0) {
                document.getElementById("bgImg").style.backgroundImage = "url('../images/111.png')";
            }
            else {
                document.getElementById("bgImg").style.backgroundImage = "url('../images/bg.jpg')";
            }
 
        }
    </script>

    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/jquery.slimscroll.js"></script>
    <script src="/javascripts/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="/javascripts/jquery.scrollTo.js"></script>
</body>
</html>