<!DOCTYPE html>
<head>
<title>登入</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/stylesheets/font.css" type="text/css"/>
<link href="/stylesheets/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
    <script src="/javascripts/jquery2.0.3.min.js"></script>
</head>
<body id="bgImg" style="background-color: #dbd7d7e3;">
<!-- 
<form id="form1" runat="server">
    <div>
    <input type="button" id="btn" onclick="javascript:Test();" value="更换主题" />
    </div>
    </form> -->
	
<div class="log-w3">
<div class="w3layouts-main" style="background-color: #d0c8c8;">
	
	<div class="biaoti" style="font-size: 100%;">
		<h1>
			<img alt="" src="/images/help.png" style="    width: 13rem;
			margin-top: -38px;
			" >
		</h1>
	</div>
		<form action="/login" method="post">
			<input type="text" class="ggg" name="tel" placeholder="电话号码" required="">
			<input type="password" class="ggg" name="password" placeholder="密码" required="">
			<span><input type="checkbox"/> 记住密码</span>
				
			<h6><a href="/passwd">忘记密码</a></h6>
			<span>
				<h4><input type="checkbox" /><a href="/serve">已阅读并同意服务协议</a></h4>
			</span>

				<div class="clearfix"></div>
				<!-- <div class="weixin" style="    margin-top: 11%;">
					
				    </div> -->
			<!-- <a href="/login"><input type="submit" value="Sign In" name="login"></a>	 -->
			<button class="button" href="/usertable" style="    margin-top: 10%;    margin-left: 137px">登录</button>
		</form>
		
		<br>
		<p class="qqq" style="    margin-top: 5%;">没有账号看这里！！<a href="/registration">注册</a></p>
</div>
</div>
<script>
	function Test() {
		if (document.getElementById("bgImg").style.backgroundImage.indexOf('../images/bg.jpg') > 0) {
			document.getElementById("bgImg").style.backgroundImage = "url('../images/111.png')";
		}
		else {
			document.getElementById("bgImg").style.backgroundImage = "url('../images/bg.jpg')";
		}

	}
</script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/jquery.slimscroll.js"></script>
    <script src="/javascripts/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="/javascripts/jquery.scrollTo.js"></script>
</body>
</html>
